body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar{
    display:none;
}
#profile-dets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    width: 80vw;
    height: auto;
    border-radius: 15px;
    background: rgb(176,190,197);
    padding: 25px;
    gap: 30px;
}

#profile-photo{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#photo-dets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#userpfp{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}
#public-dets {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#private-dets {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
hr {
    border: 0;
    border-top: 2px solid #9c9c9c; /* Adds a visible line */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; /* Ensure it spans the entire width */
}