body{
    margin: 0;
}
#the_whole_page{
    display: flex;
    flex-direction: row;
}

#left_side{
    width: 50vw;
    height: 100vh;
}
img{
    height:100vh;
    width:auto;
    object-fit: cover;
}

#right_side{
    width: auto;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}

#signup_box{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgb(84,110,122);
    width: 33vw;
    max-height: 60vh;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Slabo 13px", serif;
    gap: 10px;
}
 h1,h2,p{
    color:black;
    margin:0;
 }
 h1{
    font-weight: 500;
 }
 h2{
    font-weight: 500;
 }


#dets{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    gap:6px;
}
 .inputs{
    border-radius: 5px;
    border: none;
    color: rgb(207,216,220);
    height: 8vh;
    width:  28vw;
 }
 #to-login{
    display:flex;
    flex-direction: row;
 }
 #loginbttn{
    color: rgb(55,71,79);
    background: none;
    border: none;
    
 }
