body{
    margin: 0;
}
#the_whole_page{
    display: flex;
    flex-direction: row;
}

#left_side{
    width: 50vw;
    height: 100vh;
}
img{
    width:50vw;
    height:100vh;
    object-fit: cover;
}

#right_side{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#signup_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgb(84,110,122);
    width: 33vw;
    max-height: 60vh;
    height: auto;
}

#content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Slabo 13px", serif;
}
 h1,p{
    color:black;
 }
#dets{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;
    gap:6px;
}
 .inputs{
    border-radius: 5px;
    color: rgb(207,216,220);
    height: 8vh;
    width:  28vw;
 }
 #tologin{
    display:flex;
    flex-direction: row;
 }
 #loginbttn{
    color: rgb(55,71,79);
    background: none;
    border: none;
    
 }
